In [1]:
import random as rd
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.arange(3), ['a','b','c'])

In [3]:
s[0:2]

a    0
b    1
dtype: int64

In [4]:
sr =  pd.Series(np.arange(10))

In [5]:
sr

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
sr2 = sr[4:]

In [7]:
sr2

4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [8]:
sr2[4]

4

In [9]:
sr2.loc[4]

4

In [10]:
sr2.iloc[0]

4

In [11]:
pd.read_csv('../demo.csv')

   a  b  c
0  1  2  3
1  4  5  6

In [12]:
df = _9

In [13]:
df

4

df.to_csv('../test.csv')

In [15]:
df2 = pd.read_csv('../test.csv', index_col=0)

In [16]:
df2

   a  b  c
0  1  2  3
1  4  5  6

In [17]:
df2.T

   0  1
a  1  4
b  2  5
c  3  6

In [18]:
df.columns

AttributeError: 'numpy.int64' object has no attribute 'columns'

In [19]:
df.describe()

AttributeError: 'numpy.int64' object has no attribute 'describe'

In [20]:
df['a']

IndexError: invalid index to scalar variable.

In [21]:
df['a'][1]

IndexError: invalid index to scalar variable.

In [22]:
df

4

In [23]:
df.loc[0,]

AttributeError: 'numpy.int64' object has no attribute 'loc'

In [24]:
df2 = pd.DataFrame({'one':[1,2,3],'two':[3,4,5]}, index=['a','b','c'])

In [25]:
df2

   one  two
a    1    3
b    2    4
c    3    5

In [26]:
pd.date_range('2010-1-1','2018-2-2')

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2018-01-24', '2018-01-25', '2018-01-26', '2018-01-27',
               '2018-01-28', '2018-01-29', '2018-01-30', '2018-01-31',
               '2018-02-01', '2018-02-02'],
              dtype='datetime64[ns]', length=2955, freq='D')

In [34]:
sr = pd.Series(np.arange(100), index=pd.date_range('2015-1-1', periods=100))

In [37]:
sr.index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10', '2015-01-11', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
               '2015-01-17', '2015-01-18', '2015-01-19', '2015-01-20',
               '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-24',
               '2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-01-31', '2015-02-01',
               '2015-02-02', '2015-02-03', '2015-02-04', '2015-02-05',
               '2015-02-06', '2015-02-07', '2015-02-08', '2015-02-09',
               '2015-02-10', '2015-02-11', '2015-02-12', '2015-02-13',
               '2015-02-14', '2015-02-15', '2015-02-16', '2015-02-17',
               '2015-02-18', '2015-02-19', '2015-02-20', '2015-02-21',
               '2015-02-22', '2015-02-23', '2015-02-24', '2015-02-25',
               '2015-02-26', '2015-02-27', '2015-02-28', '2015-03-01',
               '2015-03-02', '2015-03-03', '2015-03-04', '2015-03-05',
               '2015-03-06', '2015-03-07', '2015-03-08', '2015-03-09',
               '2015-03-10', '2015-03-11', '2015-03-12', '2015-03-13',
               '2015-03-14', '2015-03-15', '2015-03-16', '2015-03-17',
               '2015-03-18', '2015-03-19', '2015-03-20', '2015-03-21',
               '2015-03-22', '2015-03-23', '2015-03-24', '2015-03-25',
               '2015-03-26', '2015-03-27', '2015-03-28', '2015-03-29',
               '2015-03-30', '2015-03-31', '2015-04-01', '2015-04-02',
               '2015-04-03', '2015-04-04', '2015-04-05', '2015-04-06',
               '2015-04-07', '2015-04-08', '2015-04-09', '2015-04-10'],
              dtype='datetime64[ns]', freq='D')

In [39]:
sr['2015-1']

2015-01-01     0
2015-01-02     1
2015-01-03     2
2015-01-04     3
2015-01-05     4
2015-01-06     5
2015-01-07     6
2015-01-08     7
2015-01-09     8
2015-01-10     9
2015-01-11    10
2015-01-12    11
2015-01-13    12
2015-01-14    13
2015-01-15    14
2015-01-16    15
2015-01-17    16
2015-01-18    17
2015-01-19    18
2015-01-20    19
2015-01-21    20
2015-01-22    21
2015-01-23    22
2015-01-24    23
2015-01-25    24
2015-01-26    25
2015-01-27    26
2015-01-28    27
2015-01-29    28
2015-01-30    29
2015-01-31    30
Freq: D, dtype: int64

In [41]:
sr.resample('M').sum()

2015-01-31     465
2015-02-28    1246
2015-03-31    2294
2015-04-30     945
Freq: M, dtype: int64

In [42]:
sr.resample('M').mean()

2015-01-31    15.0
2015-02-28    44.5
2015-03-31    74.0
2015-04-30    94.5
Freq: M, dtype: float64